:root{
    --cellSize: 100px;
    --primaryColor: #5DEBD7; /* X and O */
    --secondaryColor: #074173; /* background */
    --thirdColor: #1679AB; /* hash # */
    /* --fourthColor: #C5FF95; */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

html{
    font-size: 20px;
}

body{
    height: 100vh;
    background-color: var(--secondaryColor);
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    padding: 2rem;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--primaryColor);
    width: 100%;
    text-align: center;
}

.mainBoard{
    /* border: 2px solid #000; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: .5rem;
    background-color: var(--thirdColor);    
}

.cell{
    font-size: 5rem;
    /* border: 2px solid #000; */
    width: 8rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    aspect-ratio: 1;
}

.winScreen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    backdrop-filter: brightness(0.5);
    color: #fff;
    font-size: 2.5rem;
}

#winMessage{
    animation-name: winAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes winAnimation {
    0%{
        transform: scale(1) rotate(0deg);
    }
    
    50%{
        transform: scale(1.5) rotate(15deg);
    }

    100%{
        transform: scale(1);
    }
}

.btn{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: .3s;
    cursor: pointer;
}

.btn:hover{
    background-color: #555;
    color: #fff;
    border: 2px solid #fff;
}

.btn:active{
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.hidden{
    display: none;
}